body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: o;
    text-align:center;
    background color: #eef2f5;
    color: #333;

    nav{
         background color: #1f2937;
         padding: 30px;30px;
         text-align:center;
         box-shadow:opx 2px 8px rgba(0,0,0.2);
    }
    nav a:hover{color:rgb(255, 255, 255)}

    header{
        background:linear-gradient(to right,);
        color:rgb(3, 0, 0);
        text-align: center;
        padding: 30px 10px;
}
 section{ 
    max-width: 900px;
    margin:30px auto;
    background:rgb(150, 168, 255);
    padding:25;
    border-radius: 20px;
    box-shadow:o 4px 10px rgba(242, 118, 118, 0.1);
    text-align:center;
 }
 footer{
    background:color#87a7ff;
    color:rgb(0, 0, 0);
    text-align: center;
    padding:15px 0;
    position:fixed;
    width:100%;
    height: 100px;
 }
 {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background: linear-gradient(to right, #8958b4, #2a5298);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 32px;
}


.Pro-container {
    display: flex;
    flex-wrap: wrap;
   grid-template-columns: repeat(3,1fr);
    gap: 55px;
    padding: 30px;
}


.Pro-card {
    width: 240px;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;

  
    border: 2px solid transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(45deg, #ffffff, #ff5722);
    background-origin: border-box;
    background-clip: content-box, border-box;

    
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

    transition: transform 0.3s, box-shadow 0.3s;
}

 .Pro-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.Pro-card img {
     background: linear-gradient(to right, #ffffff, #ffffff);
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.Pro-card h3 {
    margin: 12px 0;
    font-size: 18px;
}


.Pro-card p {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}


.Pro-card button {
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: rgb(0, 255, 98);
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.Pro-card button:hover {
    opacity: 0.9;
}
 

}

{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 15px;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

button {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: transparent;
}



